.roll-results {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.roll-digit {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  background-size: 350px;
  background-position: center;
  background-repeat: no-repeat;
}

.roll-digit.red {
  background-image: url('../../public/red_die.svg');
}

.roll-digit.white {
  background-image: url('../../public/white_die.svg');
  color: #000; /* Adjust color for visibility */
}

.roll-digit.blue {
  background-image: url('../../public/blue_die.svg');
}

/* Rolling animation */
.rolling .roll-digit {
  animation: roll-animation 1s ease-in-out infinite;
}

@keyframes roll-animation {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
